@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 10px;
  gap: 16px;
}

li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  padding: 0px 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.headerLogo,
.headerLinks {
  padding: 24px 0px;
}

.headerLogo {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #f9faf8;
  width: 50%;
}

.heroMainText {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.heroSecondText {
  font-size: 18px;
  color: #e5e7eb;
}

.buttonSignUp {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border-width: 0px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
}

.heroLogo {
  display: flex;
  background-color: #6d747d;
  color: #f9faf8;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.informationHeaderText {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 50px;
}

.informationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0px 200px;
}

.informationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informationIllustration {
  border: 4px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.informationContentSubtext {
  color: #6d747d;
  text-align: center;
  width: 150px;
}
